* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 550px;
  list-style: none;
  margin-left: 200px;
  border: 0;
  border-left: #575bb4 solid 4px;
  border-image:
      linear-gradient(to bottom, #575bb4, #8e92f5) 1 100%;
}

.fa-desktop {
  position: absolute;
  right: 96.7%;
  font-size: 15px;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}

.fa-mobile {
  position: absolute;
  right: 96.7%;
  font-size: 24px;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}

.fa-desktop, .fa-mobile {
  color: white;
  border-color: rgb(106, 150, 172);
  background: rgb(138, 201, 214);
  border-radius: 50%;
  border: 6.5px #4078c0 solid;
  line-height: 30px;
}

.date {
  font-size: 10px;
  color: lightgray;
  padding-left: 30px;
}

.time{
  position: absolute;
  top: 15%;
  color: rgb(143, 166, 196);
  font-family: "arial";
  font-size: 26px;
}

.where {
  position: absolute;
  right: 105%;
}

.info {
  position: relative;
  margin: 10px;
  color: white;
  padding: 20px;
  background: rgb(138, 201, 214);
}

.production:nth-of-type(2n) .info {
  background: rgb(110, 205, 235);
}

.production:nth-of-type(2n) .info::before {
  border-color: transparent rgb(110, 205, 235) transparent transparent;
}

.info::before {
  content: "";
  position: absolute;
  right: 99%;
  top: 4%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10.4px 6px 0;
  border-color: transparent #8ac8d6 transparent transparent;
}
